## Table of Contents:
#### 01. Importing Libraries
#### 02. Importing the Datasets
#### 03. Combining both the Dataframes
#### 04. Exporting the combined Dataframe

## 01. Importing Libraries

In [2]:
# importing the libraries

import pandas as pd
import numpy as np
import os

## 02. Importing the Datasets

In [3]:
# defining the path

path=r'/Users/sanju/Documents/Jul 2023 Instacart Basket Analysis/02 Data'

In [4]:
# importing the 'orders_products_combined.pkl' dataset

df_ords_combined=pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))

In [5]:
# importing the 'prods_checked.csv'

df_prods=pd.read_csv(os.path.join(path,'Prepared Data','prods_checked.csv'),index_col=0)

## 03. Combining both the Dataframes

In [6]:
# checking the shape of 'df_ords_combined' dataframe

df_ords_combined.shape

(32434489, 10)

In [7]:
# checking the data types and memory usage of 'df_ords_combined' dataframe

df_ords_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 958.9 MB

In [8]:
# checking the data types and memory usage of 'df_prods' dataframe

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

In [9]:
# changing the data types of 'df_prods' dataframe

df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int16')
df_prods['department_id']=df_prods['department_id'].astype('int16')
df_prods['prices']=df_prods['prices'].astype('float32')

In [10]:
# checking the changed datatypes of 'df_prods'

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int16
 3   department_id  49672 non-null  int16
 4   prices         49672 non-null  float32
dtypes: float32(1), int16(2), int32(1), object(1)
memory usage: 1.3+ MB

In [11]:
# merging the 'df_ords_combined' and 'df_prods' dataframe using 'product_id' as a key. (Doing an Inner Join)

df_merged_large=df_ords_combined.merge(df_prods, on='product_id')

In [12]:
# checking the merged dataset

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [13]:
# checking the frequency of the '_merge' column

df_merged_large['_merge'].value_counts(dropna=False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

## 04. Exporting the combined Dataframe

In [15]:
# Exporting the 'df_merged_large' dataframe as 'orders_products_merged.pkl'

df_merged_large.to_pickle(os.path.join(path,'Prepared Data','orders_products_merged1.pkl'))