## Table of Contents:
#### 01. Importing Libraries
#### 02. Importing the datasets
#### 03. Combining both the dataframes
#### 04. Exporting the combined dataframe

## 01. Importing libraries

In [1]:
# importing the libraries

import pandas as pd
import numpy as np
import os

## 02. Importing the datasets

In [2]:
# defining the path

path=r'/Users/sanju/Documents/Jul 2023 Instacart Basket Analysis/02 Data'

In [3]:
# importing the 'orders_products_prior.csv' dataset

df_ords_prior=pd.read_csv(os.path.join(path,'Original Data','orders_products_prior.csv'),index_col=False)

In [4]:
# importing the 'ords_checked.csv' dataset

df_ords=pd.read_csv(os.path.join(path,'Prepared Data','ords_checked.csv'),index_col=0)

## 03. Combining both the Dataframes

In [5]:
# checking the column names of the 'df_ords_prior' dataframe

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# checking the column names of the 'df_ords' dataframe

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
# checking the shape of 'df_ords_prior' dataframe

df_ords_prior.shape

(32434489, 4)

In [9]:
# checking the shape of 'df_ords' dataframe

df_ords.shape

(3421083, 6)

In [11]:
# checking the data types and memory usage of 'df_ords_prior' dataframe

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [12]:
# changing the data types of 'df_ords_prior' dataframe

df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')
df_ords_prior['product_id']=df_ords_prior['product_id'].astype('int32')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')

In [13]:
# checking whether the data types changed correctly

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [14]:
# checking the data types of 'df_ords' dataframe

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 182.7 MB

In [16]:
# changing the data types of 'df_ords' dataframe

df_ords['user_id']=df_ords['user_id'].astype('int32')
df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [17]:
# checking whether the data types changed correctly

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 68.5 MB

In [18]:
# merging(Inner Join) 'df_ords_prior' and 'df_ords' using 'order_id' as a key

df_merged_large=df_ords.merge(df_ords_prior, on='order_id',indicator=True)

In [19]:
# checking the merge

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [21]:
# checking the frequency of the '_merge' column

df_merged_large['_merge'].value_counts(dropna=False)

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
# test merging (Full Outer Join) 'df_ords_prior' and 'df_ords' without overwriting

pd.merge(df_ords_prior,df_ords, on='order_id',how='outer',indicator=True)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,1716008,NaN,NaN,NaN,206205,4,1,16,10.0,right_only
32640694,1043943,NaN,NaN,NaN,206206,68,0,20,0.0,right_only
32640695,2821651,NaN,NaN,NaN,206207,17,2,13,14.0,right_only
32640696,803273,NaN,NaN,NaN,206208,50,5,11,4.0,right_only
32640697,272231,NaN,NaN,NaN,206209,14,6,14,30.0,right_only

## 04. Exporting the combined dataframe

In [29]:
# exporting the 'df_merged_large' dataframe as 'orders_products_combined.pkl'

df_merged_large.to_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))